.friend-list {
  max-width: 30rem;
  overflow: hidden;
  max-height: 19rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__title {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.7rem;
    color: white;
  }
  &__friends {
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;

    .friend {
      margin: 0 1rem 0.5rem 2rem;
    }
    .avatar {
      width: 5rem;
      height: 5rem;
      border-radius: 3rem;
    }
  }
  .friend-name {
    font-size: 1.2rem;
    color: white;

    width: 5rem;

    text-align: center;
  }
}
