.side-bar {
  grid-area: side-bar;
  font-size: 1.4rem;
  background-color: $main-color;
  &__header {
    display: grid;
    grid-template-areas: "user-icon user-name";
    align-items: center;
    background-color: $second-color;
    color: white;
    &--icon {
      margin-left: 2rem;
      grid-area: user-icon;
      img {
        height: 40px;
        margin: 0.4rem auto;
      }
    }
    &--user-name {
      grid-area: user-name;
      padding-right: 5rem;
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    background-color: $second-color;
  }
  &__nav--links {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    list-style: none;
    text-decoration: none;
    padding: 1rem 2rem;
    transition: all 0.5s linear;
    background-color: $main-color;
    cursor: pointer;
    a {
      color: white;
      transition: all 0.2s linear;
      &:hover,
      &.active {
        color: $red;
      }
    }
    &:hover {
      border-right: 2px solid $red;
    }
    img {
      height: 43px;
      padding-right: 3rem;
    }
  }
}
