.btn {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background-color: $red;

  &-active {
    background-color: white;
    color: $main-color;
  }

  &--settings {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    justify-self: end;
    background-color: $red;
  }
}

.btn--main {
  background-color: #262626;
  border-radius: 0.5rem;
  height: 8rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-content: flex-end;
  padding-bottom: 0.5em;
  box-shadow: 2px 4px 6px #1c1b1b;
  &:hover{
    box-shadow:inset -7px -7px 20px 0 rgba(28, 28, 28, 0.5),
              inset 7px 7px 20px 0 rgba(0,0,0,0.2);
  }
    @media #{$wide-mobile} {
      height: 5rem;
      padding-bottom: 0;
    }

    svg {
      width: 3em;
      color: $red;
      position: absolute;
      top: 0;
      height: 80%;
      @media #{$wide-mobile},#{$mobile} {
        width: 2em;
        top: 4px;
      }
    }

    &--title {
      color: white;
      @media #{$wide-mobile} {
        display: none;
      }
    }

  }
