.users_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 95%;
  position: absolute;
  padding-bottom: 2rem;
}

.paginator {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  top: 0;
}

.user {
  display: flex;
  justify-content: space-between;
  background-color: #ff4141;
  margin: 1rem auto;
  width: 33rem;
  height: 6rem;
  align-items: center;

  &__avatar {
    display: flex;
    max-width: 11rem;
    align-items: center;
    margin-right: 1rem;
  }

  img {
    max-width: 6rem;
    max-height: 6rem;
    margin-right: 1rem;
  }

  .btn {
    font-size: xx-small;
  }

  &__inner {
    width: 100%;
    margin-right: 1rem;
    display: flex;
    align-items: center;
  }

  &__info {
    height: 100%;
    display: inherit;
    flex-wrap: wrap;

    &-name {
      width: 100%;
      padding-bottom: 1rem;
      font-size: 1.5rem;
      font-weight: 500;
    }

    &-status {
      width: 100%;
      font-size: 1.2rem;
      font-weight: 400;
    }
  }

  &__location {
    margin-left: auto;
    text-align: center;

    &-country {
      padding-bottom: 1rem;
    }

    &-city {
    }
  }
}
