.content {
  grid-area: content;
  font-size: 1.4rem;
  position: relative;

  &__title {
    display: flex;
    height: 5rem;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: white;
    background-color: $main-color;
  }

  &__inner {
    display: flow-root;
    height: 552px;
    border-radius: 10px;
    background-color: $second-color;
    position: relative;
    overflow: auto;

    .cover {
      display: flex;
      justify-content: space-between;
      margin: 2.5rem 2rem;
      align-items: baseline;
      background: #1C1C1C;
      // background-size: cover;
      filter: drop-shadow(2px 4px 6px black);

      &__photo {
        width: 20rem;
        padding: 2rem;

        img {
          height: 15rem;
          border: 8px solid $red;
        }
      }

      &__info {
        margin-right: auto;
        font-size: 1.5rem;
        color: white;
      }

      &__social {
        line-height: 3rem;
        margin-right: auto;
        text-align: center;

        li {
          list-style: none;

          a {
            color: $red;
          }

        }
      }
    }

    &--panel {
      display: grid;
      grid-template-areas: ". . . . .";
      grid-column-gap: 1rem;
      margin: 0 2rem;
    }
  }

  .dialog_list {
    height: 462px;
    overflow: auto;
  }
}

.react-pagination-nav__button__active {
  background: $red;
}.react-pagination-nav__button {
  font-size: 13px;
}

.react-pagination-nav__button:hover, .react-pagination-nav__button:focus {
  cursor: pointer;
  border: 2px solid #ff4141;
  outline: none;
}
