.app-wrapper {
  display: grid;
  max-width: 1024px;
  margin: 5rem auto 0;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: minmax(552px, auto);
  grid-template-areas: "side-bar content";
  border: 1rem solid $main-color;
  border-radius: 2rem;
  background-color: $main-color;
}



