.searchPanel {
  width: -webkit-fill-available;
  width: -moz-available;
  border-radius: 1px;
  margin: 3rem;
  max-width: 70rem;
  height: 3rem;
  background-color: #737373;
  color: $main-color;
  padding: 0 1em;
  border-radius: 0.4rem;
}
