$main-color: #262626;
$second-color: #2d2d2d;
$red: #ef233c;
$third-color: rgba(46, 46, 46, 0.308);
$body-color: #100c0b;
$wide-mobile: "(max-width:550px)";
$mobile: "(max-width:487px)";


html, body {
    font-family: Sansation,sans-serif;
    font-size: 10px;
    background-color: $body-color;
}
