.lds-grid {
  display: flex;
  margin: 0 auto;
  position: relative;
  width: 40px;
  height: 40px;
  top: 27.5rem;
}
.lds-grid div {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $red;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 1px;
  left: 1px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 1px;
  left: 15px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 1px;
  left: 29px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 15px;
  left: 1px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 15px;
  left: 15px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 15px;
  left: 29px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 29px;
  left: 1px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 29px;
  left: 15px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 29px;
  left: 29px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
