@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  text-decoration: none;
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html, body {
  font-family: Sansation;
  font-size: 10px;
  background-color: #100c0b;
}

.app-wrapper {
  display: -ms-grid;
  display: grid;
  max-width: 1024px;
  margin: 0 auto;
  -ms-grid-columns: 2fr 5fr;
      grid-template-columns: 2fr 5fr;
  -ms-grid-rows: minmax(552px, auto);
      grid-template-rows: minmax(552px, auto);
      grid-template-areas: "side-bar content";
}

.searchPanel {
  width: -webkit-fill-available;
  width: -moz-available;
  border-radius: 1px;
  margin: 3rem;
  max-width: 70rem;
  height: 3rem;
  background-color: #737373;
  color: #262626;
  padding: 0 1em;
  border-radius: 0.4rem;
}

.side-bar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: side-bar;
  font-size: 1.4rem;
  background-color: #262626;
}

.side-bar__header {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "user-icon user-name";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2d2d2d;
  color: white;
}

.side-bar__header--icon {
  margin-left: 2rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: user-icon;
}

.side-bar__header--icon img {
  height: 40px;
  margin: 0.4rem auto;
}

.side-bar__header--user-name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: user-name;
  padding-right: 5rem;
}

.side-bar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2d2d2d;
}

.side-bar__nav--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
  list-style: none;
  text-decoration: none;
  padding: 1rem 2rem;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  background-color: #262626;
  cursor: pointer;
}

.side-bar__nav--links a {
  color: white;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.side-bar__nav--links a:hover, .side-bar__nav--links a.active {
  color: #ef233c;
}

.side-bar__nav--links:hover {
  border-right: 2px solid #ef233c;
}

.side-bar__nav--links img {
  height: 43px;
  padding-right: 3rem;
}

.friend-list {
  max-width: 30rem;
  overflow: hidden;
  max-height: 19rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.friend-list__title {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1.7rem;
  color: white;
}

.friend-list__friends {
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.friend-list__friends .friend {
  margin: 0 1rem 0.5rem 2rem;
}

.friend-list__friends .avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 3rem;
}

.friend-list .friend-name {
  font-size: 1.2rem;
  color: white;
  width: 5rem;
  text-align: center;
}

.content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: content;
  font-size: 1.4rem;
}

.content__title {
  display: -ms-grid;
  display: grid;
  height: 4.9rem;
      grid-template-areas: ". . .";
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #262626;
}

.content__inner {
  display: flow-root;
  height: 552px;
  background-color: #2d2d2d;
}

.content__inner .cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2.5rem 2rem;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background: #1C1C1C;
  -webkit-filter: drop-shadow(2px 4px 6px black);
          filter: drop-shadow(2px 4px 6px black);
}

.content__inner .cover__photo {
  padding: 2rem;
}

.content__inner .cover__photo img {
  height: 15rem;
  border: 8px solid #ef233c;
}

.content__inner .cover__info {
  font-size: 1.5rem;
  color: white;
}

.content__inner--panel {
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". . . . .";
  grid-column-gap: 1rem;
  margin: 0 2rem;
}

.content .dialog_list {
  height: 462px;
  overflow: auto;
}

.btn {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background-color: #ef233c;
}

.btn--settings {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  -ms-grid-column-align: end;
      justify-self: end;
  background-color: #ef233c;
}

.btn--main {
  background-color: #262626;
  border-radius: 0.5rem;
  height: 8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  padding-bottom: 0.5em;
}

@media (max-width: 550px) {
  .btn--main {
    height: 5rem;
    padding-bottom: 0;
  }
}

.btn--main svg {
  width: 3em;
  color: #ef233c;
  position: absolute;
  top: 0;
  height: 80%;
}

@media (max-width: 550px), (max-width: 487px) {
  .btn--main svg {
    width: 2em;
    top: 4px;
  }
}

.btn--main--title {
  color: white;
}

@media (max-width: 550px) {
  .btn--main--title {
    display: none;
  }
}

.dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
  margin: 0 3rem 1rem;
  padding: 0;
  cursor: pointer;
}

.dialog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  margin-right: 2rem;
  background-color: #262626;
  height: 6rem;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.4rem;
}

.dialog__inner img {
  height: 5rem;
}

.dialog__inner--name {
  margin-left: 1rem;
  color: #ef233c;
}

.dialog__inner .btn {
  margin: 0 0rem 0rem auto;
  background-color: #ef233c;
}

.textInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  background-color: #262626;
}

.textInput textarea {
  resize: none;
  overflow: auto;
  outline: none;
  width: 32rem;
  height: 4rem;
  background-color: #282828;
  color: #fff;
  font-size: 1em;
}

.messages {
  -webkit-transition: opacity 0.5s, max-height 0.5s ease-in-out;
  transition: opacity 0.5s, max-height 0.5s ease-in-out;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.messages .message {
  width: 50%;
  margin: 0.6rem auto;
  text-align: center;
  background-color: #be7171;
}

.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 60%;
  max-height: 552px;
  border-radius: 0.4rem;
  background-color: grey;
  opacity: 1;
}
/*# sourceMappingURL=app.css.map */