.dialog {
  display: flex;
  padding: 0.5rem;
  margin: 0 3rem 1rem;
  cursor: pointer;
  &__inner {
    display: flex;
    width: 40%;
    margin-right: 2rem;
    background-color: $main-color;
    height: 6rem;
    padding: 1rem;
    align-items: center;
    border-radius: 0.4rem;
    img {
      height: 5rem;
    }
    &--name {
      margin-left: 1rem;
      color: $red;
    }
    .btn {
      margin: 0 0 0 auto;
      background-color: $red;
    }
  }
}
