.messages {
  transition: opacity 0.5s, max-height 0.5s ease-in-out;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  .message {
    width: 50%;
    margin: 0.6rem auto;
    text-align: center;
    background-color: rgb(190, 113, 113);
  }
}
.open {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 60%;
  max-height: 552px;
  border-radius: 0.4rem;
  background-color: grey;
  opacity: 1;
}
