.textInput {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  background-color: #262626;

}

.messageForm {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width:100%;
  &__Area{
     width: 80%;
  }
  &__btn{
    padding-right: 1rem;
  }
  input{
    width: 30rem;
    height: 4rem;
    color: $main-color;
    font-size: 1em;
  }

}

