li {
  list-style: none;

  & label {
    position: relative;

    & .icon {
      position: relative;
      width: 40px;
      height: 40px;
      background: #18191f;
      color: #555;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
      4px 4px 6px rgba(0, 0, 0, 0.02),
      inset -1px -1px 4px rgba(255, 255, 255, 0.05),
      inset 1px 1px 1px rgba(0, 0, 0, 0.01);

      &:before {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: calc(100% - 5px);
        height: calc(50% - 2px);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background: rgba(255, 255, 255, 0.05);
      }
    }

    & input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;

      &:checked ~ .icon {
        box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
        inset 4px 4px 6px rgba(0, 0, 0, 0.02);

        & .fa {
          color: #e90e2b;
          text-shadow: 0 0 15px #e90e2b,
          0 0 25px #e90e2b;
          animation: animate 2s linear;
        }
      }
    }
  }


}

@keyframes animate {
  0% {
    filter: opacity(50%);
  }
  100% {
    filter: opacity(100%);
  }
}
